@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secudaria-um: #bf9853;
    --cor-secundaria-dois: #832f2f;
    --fonte-principal: "Roboto", sans-serif;
    --fonte-titulos: "Oswald", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: var(--cor-principal);
}

p {
    font-size: 20px;
    color: #e3e3e3;
}

a {
    font-size: 13pt;
    color: #fff;
}

h1 {
    letter-spacing: 2px;
    font-size: 2.8em;
    color: #fff;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-style: italic;
    margin-bottom: 20px;
}

li {
    color: #fff;
}

ul {
    width: 90%;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 0 30px;
}

.textfield {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px; /* cria espaço entre os elementos */
}

.textfield h1 {
    text-align: left;
    line-height: 1.1;
}

.textfield .button {
    margin-top: 20px;
}

.fundo {
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -1;
    background-image: url(
        /img/pedacos-de-carne-fresca-crua-isolados-em-preto-em-placa-de-pedra-vista-lateral-espelhada_346278-817.jpg
    );
}


/* button */
.button {
    padding: 18px 55px;
    text-decoration: none;
    border: 1px solid var(--cor-secudaria-um);
    color: var(--cor-secudaria-um);
    background-color: #33383b7f;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
    width: 400px;
    text-align: center;
}

.button:hover {
    background-color: var(--cor-secudaria-um);
    color: #fff;
}
/* button */


/* header */
.header {
    width: 100%;
    height: 15vh;
    border-bottom: solid 1px var(--cor-secudaria-um);
    display: flex;
    background-color: rgba(0, 0, 0, 0.467);
}

.logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 160px;
}

.nav-list {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list a {
    margin-right: 5%;
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}

.ligue {
    width: 16%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone {
    width: 23%;
}

.phone i {
    font-size: 35px;
}

.numberphone p {
    color: white;
    font-weight: bold
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.3s;
}

header.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    transition: 0.3s;
    background-color: #fff;
}
header.active .line2 {
    opacity: 0;;
    transition: 0.3s;
}
header.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    transition: 0.3s;
    background-color: #fff;
}

@media (max-width: 768px) {
    .nav-list {
        z-index: 2;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        display: none;
    }

    .nav-list a {
        font-size: 20px;
        margin-top: 5%;
        margin-right: 0;
        color: #fff;
        letter-spacing: 5px;
        text-transform: capitalize;
    }

    .nav-list a:hover {
      color: var(--cor-secudaria-um);
    }

    .mobile-menu {
        display: block;
        z-index: 3;
    }

    .nav-list.active {
        transform: translateX(0);
        display: flex;
        transition: transform 0.3s ease-in;
    }

    .header {
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        width: 45%;
    }

    .header .logo img {
        width: 120px;
    }

    .header .ligue {
        width: 45%;
    }

    .header .ligue .numberphone p {
        font-size: 14px;
    }

    main.none {
        display: none;
    }

    footer.none {
      display: none;
    }
}

footer {
    width: 100%;
    height: 100vh;
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-distribuicao {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.footer-distribuicao h1 {
    font-size: 20pt;
    color: white;
}

.footer-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-left img {
    width: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer-left p {
    display: flex;
    flex-direction: column;
}

.footer-left p a {
    text-decoration: none;
    color: white;
    margin-top: 2%;
}

.footer-left i {
   font-size: 35px;
   margin-top: 5%;
}

.footer-center {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-center .horarios h1 {
    margin-bottom: 10%;
    text-align: start;
}

.footer-center .horarios p {
    color: white;
    margin-top: 5%;
}

.footer-center .horarios p span {
    color: #bf9853;
}

.footer-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-icons a:hover {
    background-color: #bf9853;
}

.footer-links a:hover {
    color: #bf9853;
}
